<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Blueline" %></h2>
  <p class="lead">Feeling down? Blueline is here for you.<br>Get help now!</p>

  <%= if @conn.assigns[:current_user] do %>
    <%= link "Schedule an Appointment!", class: "btn btn-success", role: "button", to: "/schedule_appointment/new" %>
  <%= else %>
    <%= link "Sign Up!", class: "btn btn-success", role: "button", to: "/registration/new" %>
  <%= end %>
</div>
